a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



.grid-container {
    padding: 3px 3px 3px 3px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    font-size: 15px;
    float: left
}

.textshow {
    background: #F7F7F7;
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 30%;
    align-content: center;
    margin: 0 auto;
}

    .textshow p {
        padding: 0;
        font-size: 90%;
        font-weight: 100;
        text-align: center;
    }



.form-style-5 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: 10px auto;
    background: #F7F7F7;
}

    .form-style-5 h1 {
        background: #43D1AF;
        padding: 16px 0;
        font-size: 100%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: 0 -16px 16px -16px;
    }




.form-style-6 {
    border-radius: 8px;
    background: #F7F7F7;
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-content: center;
    margin: 10px auto;
}


    .form-style-6 h2 {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #43D1AF;
        padding: 10px 10px;
        font-size: 100%;
        font-weight: 100;
        text-align: left;
        color: #fff;
    }

    .form-style-6 p {
        font-size: 90%;
        width: 100%;
        font-weight: 100;
        text-align: center;
    }



.form-style-7 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 100%;
    margin: 20px auto;
    padding: 16px;
    background: #F7F7F7;
}

    .form-style-7 h1 {
        background: #43D1AF;
        padding: 10px 0;
        font-size: 100%;
        font-weight: 100;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
    }

    .form-style-7 input[type="text"],
    .form-style-7 textarea,
    .form-style-7 label,
    .form-style-7 select {
        font-family: Georgia, "Times New Roman", Times, serif;
        background: rgba(255,255,255,.1);
        border: none;
        align-self: center;
        border-radius: 4px;
        font-size: 15px;
        margin: 0 50px 0 50px;
        outline: 0;
        padding: 10px;
        width: 80%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color: #8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
    }

        .form-style-7 input[type="text"]:focus,
        .form-style-7 textarea:focus,
        .form-style-7 select:focus {
            background: #d2d9dd;
        }

    .form-style-7 input[type="submit"],
    .form-style-7 input[type="button"] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 30%;
        margin: 0 50px 0 50px;
        border-radius: 4px;
        padding: 10px;
        background: #43D1AF;
        border-bottom: 2px solid #30C29E;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        color: #fff;
    }

        .form-style-7 input[type="submit"]:hover,
        .form-style-7 input[type="button"]:hover {
            background: #2EBC99;
        }


.form-style-8 {
    border-radius: 8px;
    background: #F7F7F7;
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-content: center;
    margin: 10px auto;
}


    .form-style-8 p {
        font-size: 90%;
        width: 100%;
        padding: 10px 10px;
        font-weight: 100;
    }

    .form-style-8 h6 {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #43D1AF;
        padding: 10px 10px;
        font-size: 100%;
        font-weight: 100;
        text-align: left;
        color: #fff;
    }

    .like-count{
        float:left
    }

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
